:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(10 * var(--spacing-base));
    padding: calc(10 * var(--spacing-base));

    app-content {
        width: 400px;
    }
}
