<div class="feeds p-8 m-b-16">
    <button mat-button color="primary" (click)="showFeeds()">Feeds</button>
</div>
<ng-container *ngIf="!(isFriendsLoading$ | async); else loading">
    <app-contact-list></app-contact-list>
</ng-container>
<ng-template #loading>
    <ngx-skeleton width="100%" height="50px" margin="0 0 8px 0"></ngx-skeleton>
    <ngx-skeleton width="100%" height="50px" margin="0 0 8px 0"></ngx-skeleton>
    <ngx-skeleton width="100%" height="50px" margin="0 0 8px 0"></ngx-skeleton>
    <ngx-skeleton width="100%" height="50px" margin="0 0 8px 0"></ngx-skeleton>
    <ngx-skeleton width="100%" height="50px" margin="0 0 8px 0"></ngx-skeleton>
    <ngx-skeleton width="100%" height="50px" margin="0 0 8px 0"></ngx-skeleton>
</ng-template>