:host {
    display: flex;
    flex-direction: column;
    background-color: rgba(226, 244, 255, 0.1);

    .feeds {
        display: flex;
        > button {
            width: 100%;
        }
    }
}
